header {
    height: 100%;
    width: 100%;
    position: relative;
}

body.dark-mode .header-home {
    background: linear-gradient(to bottom, transparent 80%, #29374b2c 90%);
    color: mintcream;
}

body.light-mode .header-home {
    background: linear-gradient(to bottom, transparent, #F9FAFA);
    color: #1A1A1A;
    position: relative;
}

.header-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/bg-shape.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: top;
    /* filter: blur(1px); */
    /* opacity: 0.8; */
    animation: moveBackground 20s linear infinite;
    clip-path: inset(0);
    z-index: -1;
}

@keyframes moveBackground {
    0% {
        background-position: top;
    }

    50% {
        background-position: bottom;
    }

    100% {
        background-position: top;
    }
}

.header-home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.header-home {
    position: relative;
}

.header-col {
    margin: auto;
    padding: 7rem 0 5rem 0;
    position: relative;
    z-index: 1;
}

.i_am {
    font-family: 'Kanit', sans-serif;
}

.header-text {
    margin-top: 3rem;
}

.header-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0.8rem 0;
}

.header-text p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.emphasis {
    color: #0073B6;
}

.header-small {
    font-family: 'Kanit', sans-serif;
    color: #808880;
    padding: 1rem 0;
    z-index: 2;
}

.resume_button {
    margin: 3rem 0;
    z-index: 999;
}

.resume_button a {
    color: #F5F5F5;
    text-decoration: none;
    padding: 0.5rem 2rem;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    background-image: linear-gradient(to right, #0073B6, #8294FF, #0073B6);
    box-shadow: 0 4px 4px 0 #96b9d727, 0 6px 10px 0 #0073b657;
    z-index: 2;
}

.resume_button:hover {
    zoom: 102%;
    transition: 0.3s ease;
    z-index: 2;
}

.hr {
    border: none;
    border-top: 2px solid #0073b68a;
}

.header-img-col {
    position: relative;
}

.header-image-replica {
    background: radial-gradient(circle, #949292 10%, transparent 0%);
    background-size: 1em 1em;
    position: absolute;
    left: 80%;
    width: 100px;
    height: 100px;
}

.header-image {
    width: 100%;
    margin: auto;
    position: absolute;
    left: 0%;
    top: 0%;
    align-items: end;
}

.header-image img {
    width: 450px;
    margin: auto;
    margin-top: 2rem;
    filter: brightness(80%);
}

.header-image p {
    width: 90%;
    margin: auto;
    text-align: center;
}

/* ---- main ---- */
main {
    height: 100%;
}

body.light-mode .main-colbgr {
    background-image: url(../assets/paper1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding: 2rem 0;
}

.home_main {
    height: 100%;
    margin-top: 25rem;
    position: relative;
}

.main-col1-text {
    margin: 1rem 0;
}

.main-text-first-p {
    border-left: 2px solid #0073b6;
    color: #949292;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.read_more_div {
    margin-top: 2rem;
}

.read_more {
    background-color: #0073B6;
    padding: 1rem;
    cursor: pointer;
}

.read_more_link {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.main-col2 {
    padding: 4rem 0;
}

.main-col2_text {
    margin-bottom: 2rem;
    text-align: center;
}

.main-col1 h2,
.main-col2_text h2 {
    margin: 1rem 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.main-col2_text h2 {
    margin: 1rem auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
}

.main-col2_text span {
    display: flex;
    margin: 2rem auto;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    width: 80%;
    text-align: center;
    color: #949292;
}

.skills_list,
.service_col {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 2rem;
    justify-content: center;
}


.service_list {
    text-align: center;
}

.service_list h5,
.skills_list h5 {
    font-family: 'Kanit', sans-serif;
}

.service_list p,
.skills-list p {
    color: #949292;
    font-family: 'Montserrat', sans-serif;
}

article {
    height: 100%;
    width: 100%;
}

body.dark-mode article {
    background-color: #0D1117;
}

body.light-mode article {
    background-color: #F5F5F5;
}

.article_col {
    padding: 3rem 0;
    margin: auto;
}

.article_header h2 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid #949292;
    width: fit-content;
}

.article_header p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0;
    color: #949292;
}

.project_card {
    margin: 3rem 0;
}

.project_card:hover {
    transform: scale(1.10);
    transition: 0.3s ease;
    z-index: 2;
    cursor: pointer;
}


/* ------ FOOTER ------  */

.footer {
    width: 100%;
}

.footer_header_col {
    background-color: #1a1a1a;
    padding: 1rem;
    color: white;
}

.footer_header h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.footer_contact {
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 1rem 0 3rem 0;
}

.wondering {
    border-bottom: 1px solid white;
    padding: 1rem 0;
    width: 90%;
}

.wondering span {
    font-size: 22px;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
}

.mail_to {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.mail_to a {
    text-decoration: none;
    background-color: white;
    width: 100%;
    padding: 0.8rem 5rem;
    color: #0073B6;
    font-size: 18px;

    font-family: 'Montserrat', sans-serif;
}

.mail_to a:hover {
    background-color: #0073B6;
    color: ivory;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgb(129, 96, 96), 0 6px 20px 0 rgba(248, 238, 238, 0.19);
}

.footer_main {
    background-color: #0D1117;
}

.author_infos-col {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    padding: 2rem 0;
}

.author_info {
    color: #ffffffd8;
    font-family: 'Montserrat', sans-serif;
}

.author_info a {
    text-decoration: none;
    color: #ffffffd8;
    font-family: 'Montserrat', sans-serif;
}

.author_info a:hover {
    color: #0073B6;
}

.social_media {
    display: flex;
    gap: 0.3rem;
}

.social_media a:hover {
    transform: scale(1.10);
    transition: 0.3s ease;
    z-index: 2;
}

.copyright {
    width: 90%;
    margin: auto;
    color: #ffffff98;
    text-align: center;
    padding: 2rem 0;
}


/*  -----ABOUT & PORTFOLIO----- */
.about {
    position: relative;
    margin: -10px;
}

.about_header {
    position: relative;
    padding: 7rem 0;
    text-align: center;
    height: 100%;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.about_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url('../assets/touch_bgr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(30%);
    clip-path: inset(0);
    z-index: -1;
}

.about_header h1,
.about_header .socios {
    position: relative;
    z-index: 2;
}

.portfolio {
    margin: -4.5rem 0;
}

.portfolio_header {
    position: relative;
    padding: 7rem 0;
    text-align: center;
    height: 100%;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.portfolio_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url('../assets/sin_city.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(30%);
    clip-path: inset(0);
    z-index: -1;
}

.portfolio_header h1,
.portfolio_header .socios {
    position: relative;
    z-index: 2;
}

.socios {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 1rem auto;
    gap: 0.5rem;
}

.socios a {
    text-align: center;
    text-decoration: none;
}


.about_main,
.portfolio {
    padding: 4rem 0;
    background-image: none;
}

.about_profile {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}


.about_profile img {
    width: 450px;
    filter: brightness(80%);
}

.about_profile_text {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about_profile_text h2 {
    font-family: 'Poppins', sans-serif;
}

.about_profile_text p {
    color: #808880;
    letter-spacing: 3px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.about_main-col {
    margin: 1rem 0;
}

.about_text {
    padding: 2rem 0;
    border: none;
    border-bottom: 2px solid #0073b62f;
}

.about_text p {
    font-family: 'Montserrat', sans-serif;
}

.experience_col {
    text-align: center;
}

.experience_col h1 {
    font-family: 'Kanit', sans-serif;
    padding: 2rem 0;
}

.portfolio-main {
    margin: 4rem 0;
}

.portfolio-main h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
}

.portfolio-main p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 90%;
    margin: 2rem auto;
    font-size: 14px;
}

.project_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
    padding: 1rem 0;
    border-bottom: 0.1px solid #8088809c;
}

.project_list-left {
    margin-top: 1rem;
}

.project_list-right {
    margin: 2rem 0;
}

.project_list-right h4 {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.project_list-right p {
    font-size: 14px;
    width: 100%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.project_list-right small{
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: end;
    font-style: italic;
    text-align: right;
}

@media only screen and (max-width: 350px) {
    .mail_to a {
        padding: 0.8rem 3rem;
    }
}

@media only screen and (min-width: 425px) {

    .home_main {
        height: 100%;
        margin-top: 30rem;
        position: relative;
    }

    .main-col1 {
        padding: 3rem 0;
        position: relative;
    }
}

@media only screen and (min-width:768px) and (max-width:997px) {

    .header-image-replica {
        left: -5%;
    }
}


@media only screen and (min-width: 998px) {
    .menu-bar {
        display: none;
    }

    .header-col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        width: 100%;
    }

    .header-text {
        margin: 10rem 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column !important;
    }

    .header-text h1 {
        font-size: 50px;
    }

    .header-image {
        display: flex;
        justify-content: flex-end;
        margin-top: -0.5rem;
    }

    .home_main {
        height: 100%;
        margin-top: 1rem;
        position: relative;
    }

    .main-col1 {
        padding: 4rem 0;
        position: relative;
    }

    .article_list,
    .service_col {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        gap: 3rem;
        justify-content: center;
    }

    .skills_col {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
    }



    /* ------ FOOTER ------ */
    .mail_to a {
        padding: 0.8rem 7rem;
    }

    /*  -----ABOUT & PORTFOLIO----- */
    .socios {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin: 1rem auto;
        gap: 1rem;
    }

    .about_profile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .about_profile_text {
        margin: 10rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .about_text p {
        width: 70%;
        display: flex;
        align-self: end;
        margin-left: 20%;
    }

    .project_list_col{
        margin: 6rem 0;
    }

    .project_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3rem 0;
    }

    .project_list-left{
        width: 20%;
        margin: 0;
    }
    .project_list-right{
        width: 75%;
        margin: auto;
    }

    .project_list-right p{
        width: 100%;
        margin-bottom: 1rem;
    }
}