.blog {
    margin: -1rem 0;
}

.blog_header {
    position: relative;
    padding: 7rem 0;
    text-align: center;
    height: 100%;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.blog_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url('../../assets/1614824.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(30%);
    clip-path: inset(0);
    z-index: -1;
}

.blog-main h2{
    text-align: center;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    margin-top: 3rem;
}